
# =============================================================================
# Python
# =============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Test files
*.pdf
*.json
*.png
*.jpeg
*.jpg

# =============================================================================
# Virtual Environments
# =============================================================================
.venv/
venv/
ENV/
env/


/intelligent-ingestion-backend
# =============================================================================
# UV
# =============================================================================
.uv/
*.pkl
*.bin

# =============================================================================
# IDE
# =============================================================================
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# =============================================================================
# Testing
# =============================================================================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/



# =============================================================================
# Frontend
# =============================================================================
frontend/node_modules/
frontend/dist/
frontend/.local/

# =============================================================================
# Environment
# =============================================================================
.env
.env.local
.env.*.local

# =============================================================================
# Logs
# =============================================================================
*.log
logs/

# =============================================================================
# OS
# =============================================================================
.DS_Store
Thumbs.db

# =============================================================================
# Docker
# =============================================================================
docker-compose.override.yml

# =============================================================================
# Misc
# =============================================================================
*.tmp
*.temp
*.bak
data/chroma_test/8b2f5133-36ec-448d-8592-6a83e9f442d2/header.bin
data/chroma_test/chroma.sqlite3
