{% extends "layouts/app.html" %}
{% load static i18n %}

{% block content %}
<div class="error-page text-center py-5">
        <h1 class="fs-1 text-danger"> 403</h1>

        <div class="error-content">
          <h3 class="fs-3"><i class="bi bi-lock-fill text-danger"></i> {% trans "Oops! CSRF verification failed." %}</h3>

          {% url 'core:dashboard' as dashboard_url %}
          <p class="fs-5">{% blocktrans %}The CSRF token was invalid or missing. Please try refreshing the page or <a href="{{ dashboard_url }}">return to dashboard</a>.{% endblocktrans %}</p>

        </div>
        <!-- /.error-content -->
      </div>
{% endblock content %}
