{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <!--begin::Head-->
    <head>
        {% block title %}
            <title>{{ APP_NAME }}
                {% if page_title %}| {{ page_title }}{% endif %}
            </title>
        {% endblock title %}
        {% include "partials/meta.html" %}
        {% include "partials/favicon.html" %}
        {% include "partials/styles.html" %}
        {% block inline_styles %}
        {% endblock inline_styles %}
    </head>
    <!--end::Head-->
    <!--begin::Body-->
    <body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary">
        <!--begin::App Wrapper-->
        <div class="app-wrapper">
            <!--begin::Header-->
            {% include 'partials/header.html' %}
            <!--end::Header-->
            <!--begin::Sidebar-->
            {% include 'partials/sidebar.html' %}
            <!--end::Sidebar-->
            <!--begin::App Main-->
            <main class="app-main">
                {% if page_title %}
                    <!--begin::App Content Header-->
                    <div class="app-content-header">
                        <!--begin::Container-->
                        <div class="container-fluid">
                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="mb-0">{{ page_title }}</h3>
                                </div>
                                {% if breadcrumbs %}
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-end">
                                            {% for crumb in breadcrumbs %}
                                                {% if not forloop.last %}
                                                    <li class="breadcrumb-item">
                                                        <a href="{{ crumb.url }}">{{ crumb.title }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                    </div>
                                {% endif %}
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::App Content Header-->
                {% endif %}
                <!--begin::App Content-->
                <div class="app-content">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::App Content-->
            </main>
            <!--end::App Main-->
            <!--begin::Footer-->
            {% include 'partials/footer.html' %}
            <!--end::Footer-->
        </div>
        <!--end::App Wrapper-->
        <!--begin::Messages-->
        {% include 'partials/messages.html' %}
        <!--end::Messages-->
        <!--begin::Modals Block-->
        {% block modals %}
        {% endblock modals %}
        <!--end::Modals Block-->
        <!--begin::Script-->
        {% include 'partials/scripts.html' %}
        <!--end::Script-->
        <!--begin::Inline Script-->
        {% block inline_javascript %}
        {% endblock inline_javascript %}
        <!--end::Inline Script-->
    </body>
    <!--end::Body-->
</html>
