{% extends "layouts/app.html" %}

{% load static i18n humanize %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if notifications %}
        <div class="mb-3 d-flex justify-content-end">
          <a class="btn btn-primary btn-sm" href="{% url 'users:mark-all-notifications-read' %}">
            <i class="bi bi-check2-all"></i> {% trans "Mark all as read" %}
          </a>
        </div>
        {% endif %}
      <!-- The time line -->
      <div class="timeline">
        {% for notification in notifications %}
          <!-- timeline time label - show when date changes -->
          {% ifchanged notification.date %}
            <div class="time-label">
              <span class="text-bg-secondary">{{ notification.date|date:"d M. Y" }}</span>
            </div>
          {% endifchanged %}
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <div class="timeline-item-wrapper {% if not notification.is_read %}unread-notification{% endif %}">
            <i class="bi bi-chat-left-text text-bg-{{ notification.importance_to_bootstrap_class }} {% if not notification.is_read %}unread-icon{% endif %}"></i>
            <div class="timeline-item {% if not notification.is_read %}border-start border-primary border-3{% endif %}">
              <div class="d-flex justify-content-between border-bottom mb-1 p-2 fs-7">
              

                <h5 class="timeline-header border-b-0 mb-0 d-flex align-items-center">
                <img src="{% static APP_LOGO %}"
                   class="img-fluid me-1"
                   alt="images"
                   style="width: 20px" />
                <strong class="me-auto">{{ APP_NAME }}</strong>
                </h5>

                <span class="time fs-8">
                {% if notification.importance != 'standard' %}
                  <span class="me-2  text-{{ notification.importance_to_bootstrap_class }}">{{ notification.get_importance_display|capfirst }}</span>
                {% endif %}
                <i class="bi bi-clock"></i> {{ notification.created_at|naturaltime }}
                {% if not notification.is_read %}
                  <a class="btn btn-sm btn-outline-secondary ms-2 fs-7 py-0 px-1" href="{% url 'users:mark-notification-read' notification.pk %}" >
                    <i class="bi bi-check"></i> {% trans "Mark as read" %}
                  </a>
                {% endif %}
              </span>
              </div>

              <div class="timeline-body py-2 my-2 fs-7">{{ notification.message }}</div>
              {% if notification.action_link %}
                <div class="timeline-footer">
                  <a href="{{ notification.action_link }}" class="btn btn-warning btn-sm">{% trans 'View details' %}</a>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- END timeline item -->
        {% empty %}
          <div class="time-label">
            <span class="text-bg-secondary">{% trans "No notifications" %}</span>
          </div>
          <div>
            <i class="bi bi-inbox bg-secondary"></i>
            <div class="timeline-item">
              <h3 class="timeline-header no-border">{% trans "You have no notifications yet." %}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- /.timeline -->
      {% include "components/pagination.html" %}
    </div>
    <!-- /.col -->
  </div>
{% endblock content %}
