{% load static i18n humanize %}

<aside class="app-sidebar bg-white border-end" data-bs-theme="light">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="{% url 'core:dashboard' %}" class="brand-link ">
            <!--begin::Brand Image-->
            <img src="{% static APP_LOGO %}"
                 alt="{{ APP_NAME }} Logo"
                 class="brand-image opacity-75 rounded-circle" />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">{{ APP_NAME }}</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="navigation"
                aria-label="Main navigation"
                data-accordion="false"
                id="navigation">
                <li class="nav-item">
                    <a href="{% url 'core:dashboard' %}" class="nav-link">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>{% trans "Dashboard" %}</p>
                    </a>
                </li>
                <li class="nav-header">{% trans "Applications" %}</li>
                <li class="nav-item ">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon bi bi-collection"></i>
                        <p>
                            {% trans "App Features" %}
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-people"></i>
                                <p>{% trans "User Management" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-bar-chart-line"></i>
                                <p>{% trans "Analytics Dashboard" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-file-earmark-text"></i>
                                <p>{% trans "Reports & Insights" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-pencil-square"></i>
                                <p>{% trans "Content Editor" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-gear"></i>
                                <p>{% trans "Settings" %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-bell"></i>
                                <p>{% trans "Notifications" %}</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--end::Sidebar Menu-->
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>
