{% extends "layouts/auth.html" %}

{% load i18n static %}
{% load allauth account crispy_forms_tags %}

{% block content %}
    <div class="card-body login-card-body">
        <p class="login-box-msg text-center pb-0">
            <strong class="fs-5">
            {% if token_fail %}
                {% trans 'Invalid link to reset password' %}
            {% else %}
                {% trans 'Change Password' %}
            {% endif %}
            </strong>
        </p>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="login-box-msg text-center">
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  <br/> <br/>Please request a <a href="{{ passwd_reset_url }}" class="text-primary">new password reset</a>.{% endblocktrans %}
            </p>
        {% else %}
            <p class="login-box-msg text-center">
                {% trans "Please enter your new password." %}
            </p>
            <form action="{{ action_url }}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <!--begin::Row-->
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-key me-2"></i>{% trans 'Change Password' %}
                            </button>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!--end::Row-->
            </form>
        {% endif %}

    </div>

{% endblock content %}
