{% extends "layouts/auth.html" %}

{% load i18n static %}
{% load allauth account %}

{% block content %}
    <div class="card-body login-card-body">
        <p class="login-box-msg text-center pb-0">
            <strong class="fs-5">{% trans "Password Changed" %}</strong>
        </p>
        <p class="login-box-msg text-center">
            {% blocktrans %}Your password has been successfully changed.{% endblocktrans %}
        </p>
        <hr class="my-4" />
        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'account_login' %}'">
                <i class="bi bi-box-arrow-in-right me-2"></i>{% trans "Log In" %}
            </button>
        </div>
    </div>
{% endblock content %}
