{% extends "layouts/auth.html" %}

{% load i18n static %}
{% load allauth account %}

{% block content %}
    <div class="card-body login-card-body">
        <p class="login-box-msg text-center pb-0">
            <strong class="fs-5">{% trans "Password Reset" %}</strong>
        </p>
        <p class="login-box-msg text-center">
            {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        </p>
    </div>
{% endblock content %}
