{% extends "layouts/auth.html" %}

{% load i18n static %}
{% load allauth account crispy_forms_tags %}

{% block content %}
    <div class="card-body login-card-body">
        <p class="login-box-msg text-center pb-0">
            <strong class="fs-5">{% trans "Create your account" %}</strong>
        </p>
        <p class="login-box-msg text-center">
            {% trans "Please fill in the details to sign up." %}
        </p>
        <form action="{% url 'account_signup' %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <!--begin::Row-->
            <div class="row">
                <!-- /.col -->
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-person-plus me-2"></i>{% trans "Sign Up" %}
                        </button>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!--end::Row-->
        </form>
        <hr class="my-4" />
        <div class="text-center">
            <p class="mb-2">{% trans "Already have an account?" %}</p>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='{% url 'account_login' %}'">
                <i class="bi bi-box-arrow-in-right me-2"></i>{% trans "Sign In" %}
            </button>
        </div>
    </div>

{% endblock content %}
